<!DOCTYPE html>
<html lang="en">

<head>
  <title>Quiz Results</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/quiz-result.css" />

  <!-- Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/shareMyResult.js"></script>

</head>

<body>
  <h1>Quiz Results</h1>
  <p>Your Score: <%= score %> out of <%= total %>
  </p>

  <% if (questions) { %>
    <ul>
      <% questions.forEach(q=> { %>
        <li>
          <strong>Q:</strong>
          <%= q.content %><br>
            <strong>Your Answer:</strong>
            <%= userAnswers[`question-${q.id}`] %> <br>
              <strong>Correct Answer:</strong>
              <%= q.correct_answer %><br>
        </li>
        <hr>
        <% }) %>
    </ul>
    <% } %>

      <!-- Buttons for navigation-->
      <button onclick="window.location.href='/'">Go Home</button>
      <button onclick="window.location.href='/quizzes/<%= quizId %>/attempt'">Try Again</button>

      <!-- Share button -->
      <% if (!isSharedView) { %>
        <button id="share-button" data-url="/results/<%= sharableUrl %>">Share with friends</button>
        <% } %>






</body>