<h1>Quiz Results</h1>
<p>Your Score: <%= score %> out of <%= total %></p>

<% if (questions) { %>
  <ul>
    <% questions.forEach(q => { %>
      <li>
        <strong>Q:</strong> <%= q.content %><br>
        <strong>Your Answer:</strong> <%= userAnswers[`question-${q.id}`] %> <br>
        <strong>Correct Answer:</strong> <%= q.correct_answer %><br>
      </li>
      <hr>
    <% }) %>
  </ul>
<% } %>

<button onclick="window.location.href='/'">Go Home</button>
<button onclick="window.location.href='/quizzes/<%= quizId %>/attempt'">Try Again</button>