<body>

  <h1>My Created Quizzes</h1>

  <% if (quizzes.length === 0) { %>
    <p>You haven't created any quizzes yet.</p>
  <% } else { %>
    <ul>
      <% quizzes.forEach(quiz => { %>
        <li>
          <a href="/quizzes/<%= quiz.id %>/attempt">
            <%= quiz.quiz_title %>
          </a>
          <p>
            <%= quiz.quiz_description %>
          </p>
          <p>Visibility Status: <%= quiz.visibility ? 'Public' : 'Private' %></p>
          
          <br>
          <label><input type="radio" name="visibility" value="public" checked> Public</label>
          
          <label><input type="radio" name="visibility" value="private"> Private</label>

          <br>
          <p>Share this quiz/question URL:</p>
          <input type="text" value="<%= `http://localhost:8080/quizzes/${quiz.id}/attempt` %>">

        </li>
        <hr>
      <% }); %>
    </ul>
  <% } %>

  <script src="/scripts/shareMyResult.js"></script>



</body>